<div class="container-detalles-evt ">
        <div class="container bg-warning d-flex mb-3">
            <img src=banner.jpg class="img-thumbnail float-start mb-2" alt="...">
            <div class="container">
                <div class=" cont2 d-flex">
                    <h1 class="float-start">Titulo del Evento</h1>
                </div>
                <div class="container bg-light">
                    <h3 class="fecha text-primary">(Fecha)</h3>
                    <h3 class=" evt-place text-secondary">
                        Lugar del Evento
                    </h3>
                </div>
                <div class="btn-price-container d-flex">
                    <button class="btn">Comprar</button>
                    <div class="cont bg-light">Price</div>
                </div>
            </div>
        </div>
        <div class="container-description">
            <div class="container-d-title">
                Descripcion
            </div>
            <h2 class=" d-text text-break">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h2>
        </div>
        <div class="responsable d-flex mb-3">
            <img src="639343.png" alt="maletin icon" class="maletin-icon">
            <div class="responsable-info">
                <h2 class="font-p">Responsable</h2>
                <h3 class="font-p">nombre del Responsable</h3>
            </div>
        </div>
        <div class="entradas-dis justify-content-center">
            <h1 class="font-p ">Disponibilidad de Entradas</h1>
            <app-tabla-disponibilidad/>
        </div>
</div>
