<app-analisis-admin></app-analisis-admin>
<hr>
<div class="d-flex">
    <h2>Ingresos totales</h2>
    <h2 class="texto">${{ingresos_totales}}</h2>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Usuario</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th >
          <app-print-ingresos-list date={{date[0]}}></app-print-ingresos-list>
        </th>
        <td><app-print-ingresos-list ingreso={{ingreso[0]}}></app-print-ingresos-list></td>
        <td><app-print-ingresos-list users={{users[0]}}></app-print-ingresos-list></td>

      </tr>
      <tr>
        <th >
          <app-print-ingresos-list date={{date[0]}}></app-print-ingresos-list>
        </th>
        <td><app-print-ingresos-list ingreso={{ingreso[0]}}></app-print-ingresos-list></td>
        <td><app-print-ingresos-list users={{users[0]}}></app-print-ingresos-list></td>

      </tr>
      <tr>
        <th ><app-print-ingresos-list date={{date[0]}}></app-print-ingresos-list></th>
        <td ><app-print-ingresos-list ingreso={{ingreso[0]}}></app-print-ingresos-list>/td>
        <td><app-print-ingresos-list users={{users[0]}}></app-print-ingresos-list></td>
      </tr>
    </tbody>
  </table>
