<app-analisis-admin></app-analisis-admin>
<hr>
<div class="d-flex">
    <h2>Ingresos totales</h2>
    <h2 class="texto">${{ingresos_totales}}</h2>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Usuario</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th >xxxxxxxxx</th>
        <td>ingreso</td>
        <td>nom_usuario</td>

      </tr>
      <tr>
        <th >xxxxxxxxx</th>
        <td>ingreso</td>
        <td>nom_usuario</td>

      </tr>
      <tr>
        <th >xxxxxxxxx</th>
        <td >ingreso</td>
        <td>nom_usuario</td>
      </tr>
    </tbody>
  </table>
