<div>
    <div class="mb-2">
        <h2>
            fecha
        </h2>
        <input type="text" placeholder="fecha">
    </div>
    <div>
        <!-- Barra de navegación para la sección de Lugares -->
        <nav id="navbar-example2" class="navbar bg-body-tertiary px-3">
            <h1 class="texto">Lugares</h1>
        </nav>
        <!-- Lista de lugares con checkboxes -->
        <div class="scroll-container">
            <label class="d-block">
                <input type="checkbox" name="lugares" value="1" class="me-2"> First heading
            </label>
            <label class="d-block">
                <input type="checkbox" name="lugares" value="2" class="me-2"> Second heading
            </label>
            <label class="d-block">
                <input type="checkbox" name="lugares" value="3" class="me-2"> Third heading
            </label>
            <label class="d-block">
                <input type="checkbox" name="lugares" value="4" class="me-2"> Fourth heading
            </label>
            <label class="d-block">
                <input type="checkbox" name="lugares" value="5" class="me-2"> Fifth heading
            </label>
        </div>
    </div>
</div>
