.scroll-container {
    height: 20vh; /* 10% del viewport */
    overflow-y: auto; /* Solo habilita scroll vertical */
    border: 1px solid #ccc; /* Opcional para visualización */
}
.navbar{
    background: linear-gradient(to right, rgb(24, 66, 181),rgb(152, 9, 163));
}
.texto{
    color: azure;
}