<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo de entrada</th>
        <th scope="col">Disponibilidad</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>VIP</td>
        <td>64</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Normal</td>
        <td>44</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Pobre</td>
        <td>1000</td>
      </tr>
    </tbody>
  </table>
