<table class="table">
  <!-- Tabla principal que muestra los tipos de entradas y su disponibilidad -->
  <thead>
      <!-- Sección del encabezado de la tabla -->
      <tr>
          <!-- Fila de encabezado que define los títulos de cada columna -->
          <th scope="col">#</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Nombre Ubicación</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Entradas disponibles</th>
      </tr>
  </thead>
  <tbody>
      <!-- Sección del cuerpo de la tabla -->
      <tr *ngFor="let agenda of agendas; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ agenda["ubc_ciudad"] }}</td>
        <td>{{ agenda["ubc_nombre"] }}</td>
        <td>{{ agenda["agd_fecha_inicio"] }}</td>
        <td>{{ agenda["entradas_disponibles"] }}</td>
      </tr>
  </tbody>

</table>
