<div class="d-flex">
    <app-perfil-organizador/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Evento</th>
            <th>Ingresos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingreso of ingresos; let i = index">
            <th>
              <app-print-org-ingresos-arrays [title]="title[i]"></app-print-org-ingresos-arrays>
            </th>
            <th>
              <app-print-org-ingresos-arrays [ingresos]="ingreso"></app-print-org-ingresos-arrays>
            </th>
          </tr>
        </tbody>
      </table>
</div>
