<div class="d-flex">
    <app-perfil-organizador/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="d-flex">
                Usuarios
            </th>
            <th>Evento</th>
            

          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <app-print-users users={{users[0]}}></app-print-users>
            </th>
            <th scope="row">
              
            </th>

          </tr>
          <tr>
            <th>
              <app-print-users users={{users[1]}}></app-print-users>
            </th>
            <th scope="row">
              
            </th>
          </tr>
          <tr>
            <th>
              <app-print-users users={{users[2]}}></app-print-users>
            </th>
            <th scope="row">
              
            </th>
          </tr>
        </tbody>
      </table>
</div>
<!--<app-print-evento title={{title[0]}}></app-print-evento>-->
