<div class="d-flex">
    <app-perfil-organizador/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="d-flex">
                Usuarios
            </th>
            <th>Evento</th>
            <th>Comentarios</th>
            

          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="d-flex">
                <img src="profile pic.png" alt="profile icon" class="profile-img">
                <app-print-user-evt-org users={{users[0]}}></app-print-user-evt-org>
              </div>
            </th>
            <th scope="row">
              <app-print-user-evt-org title={{title[0]}}></app-print-user-evt-org>
            </th>
            <th>
              <app-print-user-evt-org comentarios={{comentarios[0]}}></app-print-user-evt-org>
            </th>

          </tr>
          <tr>
            <th>
              <div class="d-flex">
                <img src="profile pic.png" alt="profile icon" class="profile-img">
                <app-print-user-evt-org users={{users[0]}}></app-print-user-evt-org>
              </div>
            </th>
            <th scope="row">
              <app-print-user-evt-org title={{title[0]}}></app-print-user-evt-org>
            </th>
            <th>
              <app-print-user-evt-org comentarios={{comentarios[1]}}></app-print-user-evt-org>
            </th>
          </tr>
          <tr>
            <th>
              <div class="d-flex">
                <img src="profile pic.png" alt="profile icon" class="profile-img">
                <app-print-user-evt-org users={{users[0]}}></app-print-user-evt-org>
              </div>
            </th>
            <th scope="row">
              <app-print-user-evt-org title={{title[0]}}></app-print-user-evt-org>
            </th>
            <th>
              <app-print-user-evt-org comentarios={{comentarios[2]}}></app-print-user-evt-org>
            </th>
          </tr>
        </tbody>
      </table>
</div>
<!--<app-print-evento title={{title[0]}}></app-print-evento>-->
