<div class="d-flex">
    <app-perfil-organizador/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="d-flex">
                Usuarios
            </th>
            <th>Evento</th>
            <th>Comentarios</th>
            <th>Calificación</th>
            

          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let calificacion of calificaciones; let i = index">
              <th>
                <div class="d-flex">
                <img src="profile pic.png" alt="profile icon" class="profile-img">
                <app-print-user-evt-org [users]="users[i+1]"></app-print-user-evt-org>
                </div>
              </th>
              <th scope="row">
                <app-print-user-evt-org [title]="title[i+1]"></app-print-user-evt-org>
              </th>
              <th>
                <app-print-user-evt-org [comentarios]="comentarios[i+1]"></app-print-user-evt-org>
              </th>
              <th>
                <app-print-user-evt-org [estrellas]="estrellas[i+1]"></app-print-user-evt-org>
              </th>
            </tr>
        </tbody>
      </table>
</div>
<!--<app-print-evento title={{title[0]}}></app-print-evento>-->
