<!--tabla donde se almacenaran las reservas, desde esta se podra ir al evento en cuestion o eliminarlo de la reserva-->
<div class="container-reservas">
    <div class="selector d-flex">
        <a href="reservas"><h3>Reservas</h3></a>
        <a href="historial"><h3>_Historial</h3></a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del evento</th>
            <th scope="col">Info del evento</th>
            <th scope="col">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <!--
            <td><app-info-reserva title={{usuario["usr_nombre1"]}} ></app-info-reserva></td>
            -->
            <td><app-info-reserva title={{title[0]}} ></app-info-reserva></td>
            <td><app-info-reserva descriptions={{descriptions[0]}}></app-info-reserva></td><!--este componente almacenara de forma ordenada todo lo que nos interese saber acerca del evento-->
            <td><app-opt-reserva/></td><!--aqui se almacenaran un boton para ir al evento en cuestion y otro para eliminarlo-->
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><app-info-reserva title={{title[1]}}></app-info-reserva></td>
            <td><app-info-reserva descriptions={{descriptions[1]}}></app-info-reserva></td>
            <td><app-opt-reserva/></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td ><app-info-reserva title={{title[2]}}></app-info-reserva></td>
            <td><app-info-reserva descriptions={{descriptions[2]}}></app-info-reserva></td>
            <td><app-opt-reserva/></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td ><app-info-reserva title={{title[3]}}></app-info-reserva></td>
            <td><app-info-reserva descriptions={{descriptions[3]}}></app-info-reserva></td>
            <td><app-opt-reserva/></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td ><app-info-reserva title={{title[4]}}></app-info-reserva></td>
            <td><app-info-reserva descriptions={{descriptions[4]}}></app-info-reserva></td>
            <td><app-opt-reserva/></td>
          </tr>
        </tbody>
      </table>
</div>