<app-analisis-admin/>
<hr>
<div class="d-flex">
    <h2>Eventos Populares</h2>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">nombre del evento</th>
        <th scope="col">fecha</th>
        <th scope="col">Lugar</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th >nom_evento</th>
        <td>fecha</td>
        <td>Lugar</td>

      </tr>
      <tr>
        <th >nom_evento</th>
        <td>fecha</td>
        <td>Lugar</td>

      </tr>
      <tr>
        <th >nom_evento</th>
        <td >fecha</td>
        <td>Lugar</td>
      </tr>
    </tbody>
  </table>

