<app-analisis-admin/>
<hr>
<div class="d-flex">
    <h2>Eventos Populares</h2>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">nombre del evento</th>
        <th scope="col">fecha</th>
        <th scope="col">Lugar</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th >
          <app-print-rated-events-list nom_evento={{nom_evento[0]}}></app-print-rated-events-list>
        </th>
        <td>
          <app-print-rated-events-list date={{date[0]}}></app-print-rated-events-list>
        </td>
        <td>
          <app-print-rated-events-list place={{place[0]}}></app-print-rated-events-list>
        </td>

      </tr>
      <tr>
        <th ><app-print-rated-events-list nom_evento={{nom_evento[0]}}></app-print-rated-events-list></th>
        <td><app-print-rated-events-list date={{date[0]}}></app-print-rated-events-list></td>
        <td><app-print-rated-events-list place={{place[0]}}></app-print-rated-events-list></td>

      </tr>
      <tr>
        <th ><app-print-rated-events-list nom_evento={{nom_evento[0]}}></app-print-rated-events-list></th>
        <td ><app-print-rated-events-list date={{date[0]}}></app-print-rated-events-list></td>
        <td><app-print-rated-events-list place={{place[0]}}></app-print-rated-events-list></td>
      </tr>
    </tbody>
  </table>

