<div class="container-cartera ">
    <!-- Contenedor principal que agrupa toda la información de la cartera -->
    <div class="tittle">
        <!-- Sección del título -->
        <h1>Cartera</h1>
        <!-- Encabezado principal que indica la sección de la cartera -->
    </div>
    <div class="container float-start">
        <!-- Contenedor para mostrar el saldo actual y botones de acciones -->
        <h1>Tu saldo:</h1>
        <!-- Etiqueta para indicar que se mostrará el saldo -->
        <h1>${{saldo}}</h1>
        <!-- Saldo disponible del usuario. Se utiliza la variable {{saldo}} para ser reemplazada dinámicamente con el monto actual -->
        <div class="btn-cartera d-flex">
            <!-- Contenedor para los botones de recargar y retirar, alineados con flexbox -->
            <button class="btn btn-warning">
                <!-- Botón estilizado para recargar saldo -->
                <h3>Recargar</h3>
                <!-- Etiqueta del botón con un encabezado pequeño que indica su función -->
            </button>
            <button class="btn btn-warning">
                <!-- Botón estilizado para retirar saldo -->
                <h3>Retirar</h3>
                <!-- Etiqueta del botón con un encabezado pequeño que indica su función -->
            </button>
        </div>
    </div>
</div>
