<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <app-gestion-admin/>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src={{profile_pic}} alt="profile img" class="profile-img"></th>
            <td><app-print-user-list users={{users[0]}}></app-print-user-list></td>
            <td><app-print-user-list date={{date_Inicio[0]}}></app-print-user-list></td>
            <td><button class="btn btn-ligth"><i class="bi bi-trash-fill pencil"></i></button></td>
          </tr>
          <tr>
            <th scope="row"><img src={{profile_pic}} alt="profile img" class="profile-img"></th>
            <td><app-print-user-list users={{users[0]}}></app-print-user-list></td>
            <td><app-print-user-list date={{date_Inicio[0]}}></app-print-user-list></td>
            <td><button class="btn btn-ligth"><i class="bi bi-trash-fill pencil"></i></button></td>
          </tr>
          <tr>
            <th scope="row"><img src={{profile_pic}} alt="profile img" class="profile-img"></th>
            <td ><app-print-user-list users={{users[0]}}></app-print-user-list></td>
            <td><app-print-user-list date={{date_Inicio[0]}}></app-print-user-list></td>
            <td><button class="btn btn-ligth"><i class="bi bi-trash-fill pencil"></i></button></td>
          </tr>
        </tbody>
      </table>

</body>
</html>


