<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <app-gestion-admin/>
    <div class="contenedor d-flex">
        <img src={{profile_pic}} alt="profile img" class="profile-img">
        <h2>Nombre_de_usuario</h2>
        <button class="btn btn-ligth"><i class="bi bi-trash-fill pencil"></i></button>
    </div>

</body>
</html>


