<div class="d-flex">
    <app-perfil-organizador/>
    <table class="table">
        <thead>
          <tr>
            <!-- Encabezados de la tabla -->
            <th scope="col">#</th>
            <th scope="col">Evento</th>
            <th scope="col">NumeroAgendas</th>
            <th scope="col">PromedioCalificaciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Filas de la tabla -->
          <tr *ngFor="let evento of eventos; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <div class="cont-evt d-flex">
                <img src="banner.jpg" alt="banner-img" class="banner-img rounded img-fluid float-start">
                <h3><app-print-evento [title]="evento['evt_nombre']"></app-print-evento></h3>
              </div>
            </td>
            <td><app-print-evento [agendas]="numeroAgendas[evento['evt_id']]"></app-print-evento></td>
            <td><app-print-evento [promedio]="evento['promedioCalificaciones']"></app-print-evento></td>
          </tr>
        </tbody>
      </table>
    
    
    
</div>

