<div class="cont-principal">
    <div class="d-flex">
        <!-- Contenedor izquierdo (Lugares) -->
        <div class="contenedor">
            <!-- Imagen del banner del evento -->
            <img src="{{banner}}" alt="" class="imagen rounded mb-2">
        </div>

        <!-- Contenedor derecho (Formulario y capacidad) -->
        <div class="contenedor">
            <!-- Botón de publicar evento -->
            <button class="btn btn-primary d-flex justify-content-end mb-2">Publicar</button>
            <!-- Campo para ingresar el nombre del evento -->
            <input class="form-control mb-2" type="Nombre" placeholder="Nombre del evento" aria-label="Nombre">
            <!-- Campo para ingresar la descripción del evento -->
            <input class="form-control mb-2 " type="Nombre" placeholder="Descripcion del evento" aria-label="Nombre">
            
        </div>
        <div>
            <app-agenda/>
        </div>
    </div>

    <!-- Sección de categorías -->
    <div>
        <h1>categorias</h1>
        <div class="container d-flex justify-content-center">
            <!-- Primera columna de categorías -->
            <div class="columna-num-1">
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="1" class="me-2"> Musica
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="2" class="me-2"> Arte
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="3" class="me-2"> Deporte
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="4" class="me-2"> Cine y Teatro
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="5" class="me-2"> Tecnologia
                </label>
            </div>

            <!-- Segunda columna de categorías -->
            <div class="columna-num-1">
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="1" class="me-2"> Educacion
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="2" class="me-2"> Cultura
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="3" class="me-2"> Gastronomia
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="4" class="me-2"> Literatura
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="5" class="me-2"> Moda
                </label>
            </div>

            <!-- Tercera columna de categorías -->
            <div class="columna-num-1">
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="1" class="me-2"> Ciencia
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="2" class="me-2"> Espiritualidad
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="3" class="me-2"> Fotografia
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="4" class="me-2"> Danza
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="5" class="me-2"> Videojuegos
                </label>
            </div>

            <!-- Cuarta columna de categorías -->
            <div class="columna-num-1">
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="1" class="me-2"> Ecologia
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="2" class="me-2"> Familia
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="3" class="me-2"> Negocios
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="4" class="me-2"> Salud
                </label>
                <label class="d-block">
                    <input type="checkbox" name="lugares" value="5" class="me-2"> Turismo
                </label>
            </div>
        </div>
    </div>
</div>
