<!-- Contenedor principal para la información del evento -->
<div class="container bg-primary-subtle">
    <!-- Imagen representativa del evento -->
    <img src={{bannerPic}} class="img-thumbnail float-start mb-2" alt="...">
    
    <!-- Contenedor secundario para el contenido textual -->
    <div class="container">
        <!-- Sección de título y fecha del evento -->
        <div class="cont2 d-flex">
            <!-- Título del evento -->
            <h1 class="float-start">Titulo del Evento</h1>
            <!-- Fecha del evento -->
            <h4 class="fecha text-primary">(Fecha)</h4>
        </div>
        
        <!-- Lugar del evento -->
        <h3 class="evt-place text-secondary float-start">
            Lugar del Evento
        </h3>
    </div>
</div>
