<div class="cont-organizador">
    <div class="barra-lateral col-4 justify-content-start">
        <button class="btn btn-primary mb-5"><a href="new-publish" class="texto text-decoration-none">+ Nuevo Evento</a></button>
        <div class="cont-opts">
            <a href="p/organizador"><button class="btn btn-ligth">Eventos</button></a>
            <a href="p/organizador/comunidad"><button class="btn btn-ligth">Comunidad</button></a>
            <a href="p/organizador/ingresos"><button class="btn btn-ligth">Ingresos</button></a>
        </div>
    </div>
</div>
